*.class

res/drawable-ldpi/.DS_Store

res/drawable-hdpi/.DS_Store

res/drawable-mdpi/.DS_Store

*.class

*.ap_

.DS_Store

*.ap_

bin/LIV.apk

*.dex

res/values/com_crashlytics_export_strings.xml

gen/com/example/liv/R.java

*.jar

*.jar

*.jar

*.jar
