<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liv"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        >
        <activity
            android:name="com.example.liv.DashboardActivity"
            android:label="@string/app_name" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/register_activity_lable" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_activity_lable" >
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label=""
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name=".LoginActivity_new"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
         <activity
            android:name=".SignUpActivity"
            android:icon="@drawable/back_arrow_icon"
            android:label="back" 
            android:theme="@style/LivTheme.ActionBar.SignIn"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
         <activity
            android:name=".SignInActivity"
            android:logo="@drawable/back_arrow_icon"
            android:label="back" 
            android:theme="@style/LivTheme.ActionBar.SignUp"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
         <activity
            android:name=".HomeActivity"
            android:label="" 
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="b1694bc0b07b7988ea8827238bbe7e3c66fb3395" />
    </application>

</manifest>